body {
  background: #0f172a;
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

select, input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 20px;
  color: #38bdf8;
}
